/* ################################### *

    ~ Developed By: Emil Barranco | Web Developer & Technologist
    ~ Table of Content:
        - Navigation Bar

* ################################### */

/*  Variables   */
:root {
  --main: #212121;
  --sec: #f2f2f2;
  --alt: #d7dbdd;
}

/*  Fonts  */

@font-face {
  font-family: "Bitter-Regular";
  src: url("./fonts/Bitter-Regular.ttf");
}

@font-face {
  font-family: "Bitter-Italic";
  src: url("./fonts/Bitter-Italic.ttf");
}

@font-face {
  font-family: "Bitter-Bold";
  src: url("./fonts/Bitter-Bold.ttf");
}

@font-face {
  font-family: "MavenPro";
  src: url("./fonts/MavenPro.ttf");
}

/*  Global Styling  */
* {
  box-sizing: border-box;
  overflow-x: hidden !important;
  transition: all 0.3s ease 0s;
}

/*  Styling  */
body {
  padding: 0;
  margin: 0;
  font-family: "MavenPro";
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Navigation Bar */
nav {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.Brand {
  font-size: 1rem;
  color: var(--sec);
  font-family: "Bitter-Bold";
}

.Links {
  margin: 0;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 2rem;
  font-weight: normal;
  font-size: 1.1rem;
  color: var(--sec);
}

.Navbar ion-icon {
  font-size: 2rem;
  font-weight: bold;
  color: var(--alt);
}

/* Content ~ Banner */

.SocialMedia {
  position: absolute;
  top: 40%;
  transform: rotateY(-50%);
}

.SocialMedia ul li {
  list-style: none;
}

ul li ion-icon {
  font-size: 1.5rem;
  margin: 10px;
  font-weight: bold;
  color: var(--alt);
}

.SideText {
  position: absolute;
  top: 50%;
  transform: rotateY(-50%);
  right: -4rem;
  transform: rotate(90deg);
  color: var(--alt);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.CoverText {
  margin: 5rem;
  padding: 5rem;
  text-align: center;
}

.CoverText h1 {
  font-size: 8rem;
  padding: 0;
  margin: 0;
  color: var(--sec);
  letter-spacing: 20px;
}

.CoverText p {
  margin: 1rem;
  color: var(--alt);
  font-size: 1.2rem;
}

.Quotes {
  position: fixed;
  top: 90%;
  transform: rotateY(-50%);
  right: 0;
  bottom: 0;
  color: var(--alt);
  letter-spacing: 4px;
  padding: 2rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

/* Media Queries */

@media screen and (max-width: 420px) {
  .CoverText {
    width: 100%;
  }

  .CoverText p {
    font-size: 1rem;
    padding: 0;
  }
}

@media only screen and (min-width: 620px) {
}

@media only screen and (max-width: 960px) {
  .SocialMedia {
    margin: 5px;
    padding: 5px;
  }

  .CoverText {
    margin: 0.5rem;
  }

  .CoverText h1 {
    font-size: 3rem !important;
  }

  .CoverText p {
    font-size: 1rem;
    text-align: justify;
  }

  .Links {
    display: none;
  }

  .Quotes {
    font-size: 0.7rem;
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .CoverText h1 {
    font-size: 5rem;
  }
}
